<a href="https://colab.research.google.com/github/harrystamatoukos/MovieAnalysis/blob/master/Movies_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

import plotly.graph_objects as go
import plotly.figure_factory as ff

import zipfile
from google.colab import files

from plotly.offline import iplot, init_notebook_mode
import plotly.graph_objs as go

In [0]:

files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"harrystamatoukos","key":"24508913c36fe2a1c0fee667c8519cec"}'}

In [0]:
!mkdir  -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

!chmod 600 ~/.kaggle/kaggle.json

!kaggle datasets download -d rounakbanik/the-movies-dataset

In [0]:
with zipfile.ZipFile('the-movies-dataset.zip', 'r') as zip_ref:
    zip_ref.extractall()

In [0]:
!ls

credits.csv   links.csv		   ratings.csv	      the-movies-dataset.zip
kaggle.json   links_small.csv	   ratings_small.csv
keywords.csv  movies_metadata.csv  sample_data

In [0]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies_metadata.csv')
links= pd.read_csv('links.csv')
keywords = pd.read_csv('keywords.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning:

Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.

In [0]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [0]:
movies = pd.read_csv('movies_metadata.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
movies_clean = movies[['adult','budget','id','imdb_id','original_language','original_title','popularity','release_date','runtime','title','vote_average','vote_count']]

In [0]:
movies_clean.head()

   adult    budget  ... vote_average vote_count
0  False  30000000  ...          7.7     5415.0
1  False  65000000  ...          6.9     2413.0
2  False         0  ...          6.5       92.0
3  False  16000000  ...          6.1       34.0
4  False         0  ...          5.7      173.0

[5 rows x 12 columns]

In [0]:

links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [0]:

keywords.head(  )

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [0]:
v = movies_clean['vote_count']
R = movies_clean['vote_average']

In [0]:
C= movies_clean['vote_average'].mean()
C

m= movies_clean['vote_count'].quantile(0.9)
m

160.0

In [0]:
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
   
    return (v/(v+m) * R) + (m/(m+v) * C)

movies_clean['score'] = movies_clean.apply(weighted_rating, axis=1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [0]:
movies_clean.sort_values('score',ascending=False)

                                                   adult  ...     score
314                                                False  ...  8.445869
834                                                False  ...  8.425439
10309                                              False  ...  8.421453
12481                                              False  ...  8.265477
2843                                               False  ...  8.256385
...                                                  ...  ...       ...
19730                                 - Written by Ørnås  ...       NaN
29502                                              False  ...       NaN
29503   Rune Balot goes to a casino connected to the ...  ...       NaN
35586                                              False  ...       NaN
35587   Avalanche Sharks tells the story of a bikini ...  ...       NaN

[45466 rows x 13 columns]

# Data Cleaning